<div style="background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); min-height: 100vh;">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-boxes"
          viewBox="0 0 16 16">
          <path
            d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z" />
        </svg>
        <span class="fs-4 ms-3">Web Hosting Company</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link text-light">Home</a></li>
        <li class="nav-item"><a href="/plans" class="nav-link text-light">Plans</a></li>
        <li class="nav-item"><a href="/login" class="nav-link text-light" aria-current="page">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link active">Register</a></li>
      </ul>
    </header>
  </div>

  <div class="container text-center">
    <main class="mx-auto mt-5 p-4 shadow-lg rounded-3 bg-light" style="max-width: 660px;">
      <form method="POST" action="/registration">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-boxes"
          viewBox="0 0 16 16">
          <path
            d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z" />
        </svg>
        <h1 class="h3 mb-3 fw-normal">Create an account</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control {{#if usernameError}} is-invalid {{/if}}" id="username" name="username" placeholder="Username" value="{{ usernameSent }}">
          <label for="username">Username</label>
          <p class="text-danger text-start" style="font-weight: 500;"><small>{{ usernameError }}</small></p>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control {{#if passwordError}} is-invalid {{/if}}" id="password" name="password" placeholder="Password" value="{{ passwordSent }}">
          <label for="password">Password</label>
          <p class="text-danger text-start" style="font-weight: 500;"><small>{{ passwordError }}</small></p>
        </div>
        
        <br>
        <div class="form-floating">
          <input type="text" class="form-control {{#if fullNameError}} is-invalid {{/if}}" id="fullname" name="fullname" placeholder="Full Name" value="{{ fullnameSent }}">
          <label for="fullname">Full Name</label>
          <p class="text-danger text-start" style="font-weight: 500;"><small>{{ fullnameError }}</small></p>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control {{#if companyError}} is-invalid {{/if}}" id="company" name="company" placeholder="Company Name" value="{{ companySent }}">
          <label for="company">Company Name</label>
          <p class="text-danger text-start" style="font-weight: 500;"><small>{{ companyError }}</small></p>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control {{#if addressError}} is-invalid {{/if}}" id="address" name="address" placeholder="Address" value="{{ addressSent }}">
          <label for="address">Address</label>
          <p class="text-danger text-start" style="font-weight: 500;"><small>{{ addressError }}</small></p>
        </div>

        <br>
        <div class="form-floating">
          <input type="phone" class="form-control {{#if phoneError}} is-invalid {{/if}}" id="phone" name="phone" placeholder="Phone" value="{{ phoneSent }}">
          <label for="phone">Phone</label>
          <p class="text-danger text-start" style="font-weight: 500;"><small>{{ phoneError }}</small></p>
        </div>

        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <p class="mt-5 mb-3 text-muted">© 2021 Web Hosting Company</p>
      </form>
    </main>
  </div>
</div>